/* .login,
.home,
.walks,
.feeding,
.information {
  flex-direction: column;
  width: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 10px;
  border: 1px solid #7a8796;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} */

.dogs,
.addDogUser,
.users {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 85%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #7a8796;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/* .addButton {
  width: 400px;
  padding-top: 2px;
} */

.dogs {
  background-color: #f8e6de;
  border: 1px solid black;
  text-align: center;
}

td,
th {
  padding: 12px 15px;

}

.dogData {
  margin: 10px;
}

.inputPadding {
  padding: 10px;
}

.users {
  flex-direction: row;
}

.user-card {
  display: flex;
  align-items: center;
  width: 150px;
}

form {
  flex-direction: column;
  text-align: center;
  padding-left: 18px;
}
form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

button {
  background-color: #2b3e52;
  border: 0;
  color: white;
  padding: 5px;
}
button:hover {
  background-color: #c97757;
}

h3 {
  flex-direction: column;
  text-align: center;
}

h1 {
  background-color: #d8b09f;
  opacity: 0.7;
  text-align: center;
}

h2 {
  text-align: center;
}

li {
  flex-direction: column;
  padding-top: 8px;
}

@media (max-width: 500px) {
  .login,
  .home,
  .walks,
  .feeding,
  .information {
    flex-direction: column;
    width: 280px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    border: 1px solid #7a8796;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  img {
    width: 150px;
  }
}
