.notes {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  justify-content: center;
}

.notesButtons {
  text-align: center;
}

.noteItem {
  max-width: 4500px;
  height: 30px;
  background-color: white;
  vertical-align: middle;
}

.noteText {
  width: 200px;
}

.updateEdit {
  width: 100%;
  background-color: #2b3e52;
  color: #ccc;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.noteItemPadding {
  padding: 10px;
  
}
